---
import { playlists } from '@lib/data';
import Layout from '../layouts/Layout.astro';
import PlayListCard from '@components/PlayListCard.astro';
import Greetings from '@components/Greetings.svelte';
---

<Layout title="Spotify Clone">
	<div id="playlist-container" class="relative transition-all duration-1000 bg-green-600">
		<!-- TODO: <PageHeader /> -->

		<div class="relative z-10 px-6 pt-7">
			<Greetings />

			<div class="flex flex-wrap gap-4 mt-4">
				{
					playlists.map((playlist) => (
						<PlayListCard playlist={playlist} />
					))
				}
			</div>
		</div>
		<div class="absolute inset-0 z-0 bg-gradient-to-t from-black via-black/50"></div>
	</div>
</Layout>